.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 15px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #d7d2f3;
    border-radius: 20px;

    @media screen and (min-width: 768px) {
        padding: 15px 40px;
    }
}

.groupTextarea {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.userName {
    font-weight: 700;
    font-size: 18px;
    color: #333;
}

.textarea {
    display: block;
    width: 100%;
    min-height: 45px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1.2;
    border: 1px solid #dfdddd;
    border-radius: 20px;
    outline: none;
    resize: vertical;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.5;
    }
}

.textarea::placeholder {
    color: rgba(0, 0, 0, 0.7); 
}

.groupFile {
    overflow: hidden;
}

.file {
    font-size: 12px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }
}

.wrapperBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    @media screen and (min-width: 375px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


.primaryBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(14/12);
    cursor: pointer;
    color: #000000;
    background-color: rgb(255, 244, 0);

    @media screen and (min-width: 768px) {
        width: 150px;
        height: 40px;
        font-size: 16px;
        line-height: calc(16/14);
    }
  }
  
  .primaryBtn:hover,
  .primaryBtn:focus {
    background-color: rgb(228, 228, 0);
  }

  .primaryBtn[disabled] {
    /* Стилі для кнопки, яка має атрибут disabled */
    opacity: 0.5; /* Наприклад, зниження прозорості кнопки */
    cursor: not-allowed; /* Зміна курсора на not-allowed */
    pointer-events: none; /* Відключення можливості клікати на кнопку */
}