.descriptionAudio {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;

    @media screen and (min-width: 1200px) {
        padding-left: 100px;
        padding-right: 100px; 
      }
}

.wrapperAudio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: fit-content;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap; 
    }
}

.audio {
  max-width: 100%;
}