.chatContainer {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 50px);
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    top: 80px;
    height: calc(100vh - 80px);
  }
}

.chatHeader { 
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
  display: flex;
  align-items: center;
  padding-left: 5px;
  height: 40px;
  background-color: #3754fd;
  width: calc(100% - 20px);
  max-width: 480px;
}

.chevronLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  padding-left: 5px;
  white-space: nowrap;         
  overflow: hidden;            
  text-overflow: ellipsis;     
}

.formContainer {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
  width: calc(100% - 20px);
  max-width: 480px;
}

.messagesContainer {
  margin-top: 120px;
  width: calc(100% - 20px);
  overflow-y: scroll; /* Зберігає можливість прокрутки */
  scrollbar-width: none; /* Приховує прокрутку в Firefox */
}

.messagesContainer::-webkit-scrollbar {
  display: none; /* Приховує прокрутку в Chrome, Safari */ 
}

.wrapperLoader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Форма знизу */

/* .messagesContainer {
  position: fixed; 
  top: 120px;
  bottom: 104px;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% - 20px);
  max-width: 480px;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  padding-bottom: 10px;
  overflow-y: scroll; 
  scrollbar-width: none; 
}

.messagesContainer::-webkit-scrollbar {
  display: none; 
}

.formContainer {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
  width: calc(100% - 20px);
  max-width: 480px;
  height: 104px;
}

.wrapperLoader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-color: #fef9f9;
  z-index: 1300;
} */