  .containerProfile {
    padding: 20px;
    padding-top: 70px;
    
    @media screen and (min-width: 768px) {
      padding-top: 100px;
    }
}

.title {
  position: relative;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  padding-left: 14px;
  line-height: 1.3;

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #0d30f5;
  border-radius: 2px;
}

  .userInfo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: fit-content;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 1px solid #a3c5d3;
    border-radius: 20px;
  }

  .userName {
    font-weight: 700;
    font-size: 18px;
    color: #ff9900;
  }

  .userEmail {
    font-weight: 500;
  }

  .registerDate {
    font-weight: 700;
    color: #000000;
  }

  /* .userLevel {
    font-weight: 700;
    color: #0d30f5;
  } */

  .userLevelNum {
    font-weight: 700;
    color: #0d30f5;
  }