.containerNotifications {
    padding: 20px;
    padding-top: 70px;

    @media screen and (min-width: 768px) {
        padding-top: 100px;
    }
}

.list {
    padding-top: 20px;

    @media screen and (min-width: 768px) {
            padding: 10px;
        }

    @media screen and (min-width: 1200px) {
        padding: 10px 80px;
    }
}

.title {
    position: relative;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    padding-left: 14px;
    line-height: 1.3;

    @media screen and (min-width: 768px) {
        font-size: 26px;
    }
}

.title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: #0d30f5;
    border-radius: 2px;
}

.link {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 2;
    text-decoration: underline;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}

.link:hover,  
.link:focus {
    color: #0d30f5;
}

.date {
    font-size: 12px;
    font-weight: 400;
    padding-left: 10px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        padding-left: 40px;
    }
}
