.lessonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px; 

  @media screen and (min-width: 1200px) {
    padding: 30px 100px; 
  }
}

.descriptionAudio {
  padding: 30px 15px;
}

.wrapperAudio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: fit-content;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap; 
    }
}

.audio {
  max-width: 100%;  
}

.menu {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menuBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  padding: 5px 10px;
  font-size: 15px;
  background-color: beige;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.lessonMenu {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.lessonMenu.active {
  display: block;
  margin-top: 10px;

  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
}