.wrapperFrame {
  width: 300px;
  height: 170px;

  @media screen and (min-width: 480px) {
    width: 460px;
    height: 260px; 
  }

  @media screen and (min-width: 768px) {
    width: 748px;
    height: 425px; 
  }

  @media screen and (min-width: 1200px) {
    width: 1150px;
    height: 650px; 
  }
}
