.containerTeam {
  min-height: calc(100vh - 50px);
  padding: 40px 70px;
}

.wrapperRef {
  display: block;
  margin-bottom: 70px;
  padding: 20px;
  border: 1px solid #d7d2f3;
  border-radius: 20px;
}

.refLink {
  text-align: left;
  margin-bottom: 20px;
}

.wrapperTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .wrapperPartner {
    position: relative;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px;
    border: 1px solid #a3c5d3;
    border-radius: 20px;
  }

  .btnBack {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%) translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid #a3c5d3;
    border-radius: 50%;
  }

  .btnBack:hover,  
  .btnBack:focus {
    background-color: beige;
    cursor: pointer;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: 500;
  }

  .title {
    text-align: center;
    margin-bottom: 70px;
  }

  .subtitle {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
  }

  .userName {
    font-weight: 700;
    font-size: 18px;
    color: #ff9900;
  }

  .tableTeam {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    border-collapse: collapse;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.td, .th {
    border: 1px solid #a3c5d3;
    padding: 10px;
    width: auto;
}

.tr:hover,  
.tr:focus,
.tr:active {
  background-color: beige;
  cursor: pointer;
}