.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 8px 20px;
    background-color: transparent;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    padding: 10px 30px;
  }
}

.link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #2a363b;
  transition: all 0.25s ease;
}

@media screen and (min-width: 768px) {
  .link {
    width: auto;
    padding: 10px 18px;
    border-radius: 10px;
  }
}

.link:hover {
  color: #0d30f5;
  background-color: #f5f5ff;
}

@media screen and (max-width: 767px) {
  .link:hover {
    background-color: #f7f4e8;
  }
}

/* Активний пункт */
.active {
  color: #4f2ecc;
  background-color: #eae5ff;
}

@media screen and (min-width: 768px) {
  .active:hover {
    background-color: #ddd4ff;
  }
}
