.descriptionVideo {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;

  @media screen and (min-width: 1200px) {
      padding-left: 100px;
      padding-right: 100px; 
    }
}

.listVideo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding-left: 15px;

    @media screen and (min-width: 768px) {
      padding-left: 30px; 
    }

    @media screen and (min-width: 1200px) {
      padding-left: 100px; 
    }
}

.link {
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    color: #3754fd;   
  }
  
  .link:hover,  
  .link:focus,
  .link:active {
    color: #0d30f5;
  }