.wrapper {
    padding-top: 80px;
    padding-bottom: 40px;
    
        @media screen and (min-width: 768px) {
            padding-top: 130px;
        }
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 70px;
    
        @media screen and (min-width: 480px) {
            font-size: 28px;
        }
    
        @media screen and (min-width: 768px) {
            font-size: 32px;
        }
}

.decription {
    color: #555;
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
    
        @media screen and (min-width: 480px) {
            font-size: 18px;
        }
    
        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
}

.listBenefits {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}

.itemBenefit {
    display: flex;
    align-items: center;
    max-width: 700px;
    min-height: 50px;
    padding-left: 30px;
    padding: 10px 10px;
    color: #000000;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    border: 1px solid #d7d2f3;
    border-radius: 20px;

    @media screen and (min-width: 480px) {
            padding: 10px 20px;
            font-size: 14px;
        }

                @media screen and (min-width: 768px) {
                    height: 50px;
                    padding: 10px 30px;
                    font-size: 16px;
                }
}

.text {
    font-size: 14px;

    @media screen and (min-width: 480px) {
        font-size: 16px;
    }
}

.filterFields {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.filterFields label {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #000000;

    @media screen and (min-width: 480px) {
            font-size: 18px;
        }
}

.filterFields input {
    display: block;
    width: 220px;
    height: 32px;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.listClubs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    padding: 5px;
    text-align: center;
    color: #000000;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    border: 1px solid #d7d2f3;
    border-radius: 20px;
}

.link {
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    color: #3754fd;   
  }
  
  .item:hover,  
  .item:focus,
  .item:active {
    color: #0d30f5;
    background-color: rgba(230, 230, 230);
  }