.form {
    position: relative;
}

.close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2px;
    right: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.close:hover,  
.close:focus,
.close:active {
    background-color: #ffffff;
}

.textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ffffff;
    outline: none;
}

.textarea {
    min-height: calc(1.5em * 1); /* висота для 1 рядка (em залежить від розміру шрифту) */
    max-height: calc(1.5em * 10); /* висота для 10 рядків */
    overflow-y: auto; /* показувати скролл, якщо текст більше ніж 10 рядків */
    resize: none; /* відключити можливість ручного зміни розміру */
  }

.textarea::placeholder {
    color: rgba(0, 0, 0, 0.7); 
}

.upper {
    padding-top: 20px;
}

.wrapperBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #f1f1f1;
}

.groupBtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 240px;
    overflow: hidden;
}

.link {
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    color: #3754fd; 
    white-space: nowrap;         /* Не дозволяє тексту переноситись на новий рядок */
    overflow: hidden;            /* Ховає текст, що виходить за межі контейнера */
    text-overflow: ellipsis;     /* Додає три крапки, якщо текст не вміщається */
}

.link:hover,  
.link:focus,
.link:active {
    color: #0d30f5;
}

.trash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
}

.trash:hover,  
.trash:focus,
.trash:active {
    background-color: #ffffff;
}

.groupFile {
    overflow: hidden;
}

.file {
    font-size: 12px;
}

.primaryBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(255, 244, 0);
}

.primaryBtn:hover,
.primaryBtn:focus,
.primaryBtn:active {
    background-color: rgb(255, 228, 0);
}

.primaryBtn[disabled] {
    /* Стилі для кнопки, яка має атрибут disabled */
    opacity: 0.5; /* Наприклад, зниження прозорості кнопки */
    cursor: not-allowed; /* Зміна курсора на not-allowed */
    pointer-events: none; /* Відключення можливості клікати на кнопку */
    background-color: transparent;
}