.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
}

.groupTextarea {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textarea {
    display: block;
    width: 100%;
    min-height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 14px;
    line-height: 1.2;
    border: 1px solid #ffffff;
    border-radius: 20px;
    outline: none;
    resize: vertical;
}

.textarea::placeholder {
    color: rgba(0, 0, 0, 0.7); 
}

.wrapperBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.groupBtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 240px;
    overflow: hidden;
}

.link {
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    color: #3754fd; 
    white-space: nowrap;         /* Не дозволяє тексту переноситись на новий рядок */
    overflow: hidden;            /* Ховає текст, що виходить за межі контейнера */
    text-overflow: ellipsis;     /* Додає три крапки, якщо текст не вміщається */
}

.link:hover,  
.link:focus,
.link:active {
    color: #0d30f5;
}

.trash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
}

.trash:hover,  
.trash:focus,
.trash:active {
    background-color: #ffffff;
}

.groupFile {
    overflow: hidden;
}

.file {
    font-size: 12px;
}

.primaryBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(255, 244, 0);
}

.primaryBtn:hover,
.primaryBtn:focus,
.primaryBtn:active {
    background-color: rgb(255, 228, 0);
}

.primaryBtn[disabled] {
    /* Стилі для кнопки, яка має атрибут disabled */
    opacity: 0.5; /* Наприклад, зниження прозорості кнопки */
    cursor: not-allowed; /* Зміна курсора на not-allowed */
    pointer-events: none; /* Відключення можливості клікати на кнопку */
    background-color: transparent;
}