.learnWrapper {
    min-height: calc(100vh - 50px);
    padding: 20px;
}

.title {
    font-size: 24px;
    text-align: left;
}

.learnList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}