.learnWrapper {
    padding: 20px;
    padding-top: 70px;

    @media screen and (min-width: 768px) {
        padding-top: 100px;
    }
}

.title {
    position: relative;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    padding-left: 14px;
    line-height: 1.3;

    @media screen and (min-width: 768px) {
        font-size: 26px;
    }
}

.title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: #0d30f5;
    border-radius: 2px;
}

.learnList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}