.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
}

.wrapperImage {
    display: inline-block; /* Зробити контейнер по розміру зображення */
    max-width: 480px;
  
    @media screen and (min-width: 480px) {
      max-width: 768px;
    }

    @media screen and (min-width: 768px) {
        max-width: 1200px;
    }
}
  
.img {
    max-width: 100%;  /* Не перевищувати ширину контейнера */
    height: auto;     /* Зберігати пропорції зображення */
    width: auto;      /* Зберігати оригінальну ширину зображення, якщо вона менша за ширину контейнера */
}
  