/* === Статуси === */
.statusActive {
    color: #0e7b22;
    font-weight: 700;
}

.statusCanceled {
    color: #b91c1c;
    font-weight: 600;
}

/* === Обгортка статусу з кнопкою === */
.statusWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

/* === Кнопка “скасувати” === */
.cancelBtn {
    text-decoration: underline;
    color: #3754fd;
    cursor: pointer;
    font-size: 14px;
}

.cancelBtn:hover {
    color: #0d30f5;
}