.containerMessage {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    border: 1px solid #d7d2f3;
    border-radius: 20px;
    overflow-wrap: break-word;

    @media screen and (min-width: 768px) {
        padding: 10px 40px;
    }
}

.specialBackground {
    background-color: beige;
  }

.comment {
    color: #555;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0px;
    padding-bottom: 10px;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.5;
    }
}

.author {
    color: #555;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
}

.disabled {
    display: none;
}

.date {
    display: block;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

.wrapperFile {
    display: block; /* Зробити контейнер по розміру зображення */
    padding-bottom: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
  
.img {
    max-width: 100%;  /* Не перевищувати ширину контейнера */
    height: auto;     /* Зберігати пропорції зображення */
    width: auto;      /* Зберігати оригінальну ширину зображення, якщо вона менша за ширину контейнера */
    border-radius: 20px;
}

.audio {
    max-width: 100%;  
}

.icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        width: 34px;
        height: 34px;
    }
}

/* .icon:hover,  
.icon:focus,
.icon:active {
    background-color: rgb(245, 245, 245);
} */

.menu {
    position: absolute;
    display: block;
    width: 150px;
    top: 34px;
    right: 0;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
    z-index: 100;
}

.menuLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #2a363b;   
}
  
.menuLink:hover,  
.menuLink:focus,
.menuLink:active {
    background-color: rgb(245, 245, 245);
}

.link {
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    color: #3754fd;   
  }
  
  .link:hover,  
  .link:focus,
  .link:active {
    color: #0d30f5;
  }