.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 1199px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.wrapperForm {
    display: block;
    width: 400px;
    padding: 60px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 80px;
}

.textLogo {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: calc(20/18);
    color: #0d5ef5;
}

.title {
    font-size: 22px;
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 80px;
}

.wrapperInput {
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    height: 48px;

    padding: 0 40px 0 14px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 14px;
    background: #fafafa;

    transition: border 0.25s ease, background 0.25s ease;
}

.input:focus {
    border-color: #3754fd;
    background: #fff;
    outline: none;
}

.passwordInput {
    position: relative;
}

.eye {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    opacity: 0.7;
    transition: opacity 0.2s ease;
}

.eye:hover {
    opacity: 1;
}

.button {
    margin-top: 10px;
    width: 280px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 14px;

    background: #3754fd;
    color: #fff;

    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.3px;
    cursor: pointer;

    transition: background 0.25s ease, transform 0.2s ease;
}

.button:hover,
.button:focus {
    background-color: #0d30f5;
}

.link {
    text-decoration: underline;
    color: #0d30f5;
    cursor: pointer;
}

.image {
    width: auto;

    @media screen and (max-width: 1199px) {
        display: none;
    }
}